<div class="container">
  <h2 class="box-title">Medals per Country</h2>
  <div class="box-number-container">
    <div class="box-number">
        <p>Number of JOs</p>
        <p>{{ (olympics$ | async)?.length }}</p>
    </div>
    <div class="box-number">
        <p>Number of countries</p>
        <p>{{ (olympics$ | async)?.length }}</p>
    </div>
  </div>
  <div class="chart-container">
  <ngx-charts-pie-chart
    [scheme]="scheme"
    [results]="results"
    [gradient]="true"
    [legend]="false"
    [labels]="true"
    [tooltipText]="tooltipText"
    [trimLabels]="false"
    [doughnut]="false"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div class="tooltip-inner">
      <h2>
        {{ model.name }}
      </h2>
      <h3><img src="/assets/icons/medal.png" alt="medal" class="medal-icon" /> {{ model.value }}</h3>
      </div>
    </ng-template>
  </ngx-charts-pie-chart>
  </div>
</div>
