/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    padding: 0.5rem 2rem !important;
    background: rgba(19, 148, 148, 0.8) !important;
    .tooltip-caret.position-top {
        border-top: 7px solid rgba(19, 148, 148, 0.8) !important;
    }
    .tooltip-caret.position-right {
        border-right: 7px solid rgba(19, 148, 148, 0.8) !important;
    }
    .tooltip-caret.position-left {
        border-left: 7px solid rgba(19, 148, 148, 0.8) !important;
    }
    .tooltip-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: #fff !important;
        h1,h2,h3,h4{
            margin: 0;
        }
    }
}

.pie-label.animation {
    font-size: 1.5rem !important;
}

.box-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    .box-number {
        font-size: 1rem;
        font-weight: 500;
        color: #000;
        text-align: center;

        border: 2px solid #04838f;
        border-radius: 5px;

        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &>* {
            margin: 0;
        }

        :nth-child(2) {
            font-size: 1rem;
            font-weight: 600;
            color: #000;

            @media (min-width: 768px) {
                font-size: 2rem;
            }
        }

        @media (min-width: 768px) {
            font-size: 1.5rem;
        }
    }
}